/* * {
    outline: 1px solid red;
} */

* {
	box-sizing: border-box;
}

.auth-container {
	min-height: 100svh;
	padding: 2rem;
	background-color: var(--primary-color);
	display: grid;
	place-items: center;
}

.auth-form-container {
	width: 400px;
	margin-inline: auto;
	padding: 1rem;

	border: 1px solid var(--text-primary);
	border-radius: 0.5rem;
	background-color: var(--text-accent);
}

.auth-form-container h1 {
	margin-bottom: 1rem;
}

.auth-form-container form {
	display: flex;
	flex-direction: column;
}

.btn-link {
	border: none;
	background-color: unset;
	color: var(--primary-color-darker);
	font-size: 1rem;
	text-decoration: underline;
}



/* homepage */
.main-container {
	min-height: 100vh;
	background-color: var(--text-accent);
    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	overflow: auto;
	min-height: 550px;
}


.form-container button {
	align-self: stretch;
}

.form-container {
	display: grid;
	place-items: center;
    max-width: 800px;
	margin-inline: auto;
    padding: 2rem 0;
	align-content: center;
	gap: 1rem;
}

.container-list {
	position: relative;
}

.container-list ul {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 800px;
	/* min-width: 400px; */
	width: 70%;
    padding-inline: 1rem;
    overflow-y: auto;

}


.container-list ul li {
	padding-bottom: 1rem;
    display: grid;
	grid-template-columns: auto 1fr auto auto;
}

.container-list ul li:first-of-type {
    padding-top: 2rem;
}

li p {
	flex-grow: 1;
	background-color: var(--text-accent);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	height: 100%;
	display: flex;
	align-items: center;
    word-break: break-word;
    border-left: 10px solid var(--accent-color);
}

p.completed {
	text-decoration: line-through;
	background-color: unset;
	border-left: 10px solid transparent;
}
button.completed {
	display: none;
}


/* navbar */
nav {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 1rem 1rem 0;
}

nav div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	gap: 1rem;
    margin-left: auto;
}

nav .dark-mode {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    border: 1px solid var(--primary-color);

    display: grid;
    place-items: center;
}

/* placeholder when you haven't tasks */
.placeholder-container {
	display: grid;
	place-items: center;
	height: 100%;
}
.placeholder-container div * {
	margin-bottom: 1rem;
	text-align: center;
}

/* tale quale da mdn */
.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}


ul::-webkit-scrollbar {
	width: 10px;
}

ul::-webkit-scrollbar-track {
    /* margin-right: 5px; */
	background: #c9c9c9; /* color of the tracking area */
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-left: 2px solid var(--primary-color);
	border-right: 2px solid var(--primary-color);
}

ul::-webkit-scrollbar-thumb {
	background-color: var(--accent-color); /* color of the scroll thumb */
}
ul::-webkit-scrollbar-thumb:hover {
	background-color: var(--accent-color); /* color of the scroll thumb */
}



.auth-form-container p {
    padding-top: 1rem;
}
.auth-form-container p.Mui-error {
    padding-top: 0;
}


.info {
	line-height: 1.3;
    /* white-space: pre-line; */
    white-space: pre-wrap;
}

.info span {
    font-weight: 600;
}


@media screen and (max-width: 900px) {
	.auth-form-container {
		width: 100%;
	}

    .container-list ul {
        width: 98%;
        /* padding-inline: 1rem */
    }
    .container-list {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .container-list ul {
        left: 48%;
    }
}




.container-loading {
    position: fixed;
    inset: 0px;
    display: grid;
    place-items: center;
}

.loading {
  position: relative;
}

.loading span {
    content: "";
    animation: blink 0.8s infinite;
    animation-fill-mode: both;
    height: 10px;
    width: 10px;
    background: var(--primary-color-darker);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.loading span:nth-child(2) {
    animation-delay: 0.2s;
    margin-left: 10px * 1.5;
    left: 20px;
}

.loading span:nth-child(3) {
    animation-delay: 0.4s;
    margin-left: 10px * 3;
    left: 40px;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/* stile mui */
.container-list .MuiButtonBase-root.MuiButton-root {
    min-width: unset;
    place-self: start;
    margin-top: 9px;
    padding: 5px 10px;
}

.container-list .MuiButtonBase-root.MuiCheckbox-root {
    place-self: start;
}